/**
 * Your markdown-themeable-pdf custom styles
 *
 * The default file can be found in the folder ~/.atom/packages/markdown-themeable-pdf/templates
 * The base css file can be found in the folder ~/.atom/packages/markdown-themeable-pdf/css
 * The current highlight.js css file can be found in the folder ~/.atom/packages/markdown-themeable-pdf/node_modules/highlight.js/styles
 */

html, body, pre code, code {
	font-size: 16px;
}


html {
	margin-left: 35px;
	margin-right: 35px;
}

h1 {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 24px;
}

h2 {
	font-size: 29px;
	margin-top: 20px;
}


h3 {
	font-size: 25px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
	font-weight: bold;
}

h6 {
	font-size: 16px;
	font-weight: bold;
}

ul li,
ol li {
	margin-left: 15px;
	padding-left: 5px;
}